body {
	background-image:url('img/irtysh.jpg') ;
	background-size: cover ;
	background-position: center;

}
h1 {
	color: rgb(176,135,106);
}
div{
	margin-top: 100px;
  margin-left:40px ;
  margin-right: 40px;


