body {
	background-image:url('img/2.jpg') ;
	background-size: cover ;
	background-position: center;

}
h2 {
	color: rgb(166,130,2);
}
div{
	margin-top: 100px;
  margin-left:40px ;
  margin-right: 40px;


